    body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    }


    header {
    background: #0066ff;
    color: white;
    text-align: center;
    padding: 20px;
    }


    main {
    padding: 20px;
    }


    .card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


    button {
    background: #28a745;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    }


    button:hover {
    background: #218838;
    }